<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>Fusion Recruiting Labs, Inc.</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet'>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73541965-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
    <script type="text/javascript"> 
    var _ss = _ss || []; _ss.push(['_setDomain', 'https://koi-3QN97K7VHS.marketingautomation.services/net']); _ss.push(['_setAccount', 'KOI-3TLBZ2SWPU']); _ss.push(['_trackPageView']); (function() { var ss = document.createElement('script'); ss.type = 'text/javascript'; ss.async = true; ss.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'koi-3QN97K7VHS.marketingautomation.services/client/ss.js?ver=1.1.1'; var scr = document.getElementsByTagName('script')[0]; scr.parentNode.insertBefore(ss, scr); })();
    </script>
<body>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PF6GMB"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PF6GMB');</script>
<!-- End Google Tag Manager -->

<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header -->
<header id="home" class="header">
    <!-- Navigation -->
    <nav id="navigation" class="navbar"><!-- class"affix" makes an element stay on the screen, in this case the header-->

        <!-- Company Information -->
        <div class="information hidden-sm hidden-xs bottom-border-fade">
            <div class="container">
                <div class="row">

                    <!-- Feedback -->
                    <div class="col-md-4">
                    </div>
                    <!-- /Feedback -->

                    <!-- Social -->
                    <div class="col-md-8">
                        <a href="https://maps.google.com/maps?q=280+NJ-35+%23302,+Red+Bank,+NJ+07701" class="iframe-popup"><span class="icon icon_pin_alt"></span> 280 Highway 35 South, Suite 302, Red Bank, NJ 07701</a>
                        <a href="mailto:support@fusionrl.com"  target="_top"><span class="icon icon_mail_alt"></span> support@fusionrl.com</a>
                        <a href="tel:844-205-2555"><span class="icon icon_phone"></span>844-205-2555</a>
                    </div>
                    <!-- /Social -->

                </div>
            </div>
        </div>
        <!-- /Company Information -->

        <div class="container" style="padding: 28px;">

            <div class="row">
                <div class="col-md-12">

                    <!-- Navigation Header -->
                    <div class="navbar-header">

                        <!-- Toggle Button -->
                        <button type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#main-menu"
                                aria-expanded="false"
                                aria-controls="main-menu">

                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <!-- /Toggle Button -->

                        <!-- Brand -->
                        <a href="/" class="brand">

                            <!-- Logo Big -->
                            <img src="images/fusionrl-white.png" class="logo-big">
                            <!-- /Logo Big -->

                            <!-- Logo Small -->
                            <img src="images/fusionrl-white.png" class="logo-small">
                            <!-- /Logo Small -->

                        </a>
                        <!-- /Brand -->

                    </div>
                    <!-- /Navigation Header -->

                    <!-- Navigation -->
                    <div id="main-menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li id="scroll-to-home" class="scroll-to-home"><a href="#">Home</a></li>
                            <li id="scroll-to-about" class="scroll-to-challenges"><a href="#">Mobile Challenges</a></li>
                            <li id="scroll-to-features" class="scroll-to-features"><a href="#">How It Works</a></li>
                            <li id="scroll-to-study" class="scroll-to-study"><a href="#">Case Study</a></li>
                            <li id="scroll-to-demo" class="scroll-to-demo"><a href="#">Request a Demo</a></li>
                            <li id="scroll-to-contact" class="scroll-to-contact" style="text-decoration:none;"><a href="/contact">Contact</a></li>
                            <li id="scroll-to-contact" style="text-decoration:none;"><a href="https://recruit.fusion-recruit.com/3/job_descriptions">Careers</a></li>
                        </ul>
                    </div>
                    <!-- /Navigation -->

                </div>
            </div>

        </div>
    </nav>
    <!-- /Navigation -->

</header>
<!-- /Header -->

<!-- Slider -->
<div class="slider owl-carousel owl-theme">
  <!-- Slide -->
  <div class="item mask" style="background: url(images/home-background.png) no-repeat center top / cover;" data-stellar-background-ratio="0.4">
      <div class="container height-100p">
          <div class="row height-100p">
              <div class="col-sm-6 col-md-6 height-100p bounceInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s" data-stellar-ratio="0.7">
                  <div class="vertical-middle">
                      <h1 class="text-white" style="margin: 0px;">
                          Fusion Recruit 
                          <!-- <span class="text-theme">Recruiting Labs</span> -->
                      </h1>
                      <h3 class="text-white">
                          Making The Mobile Experience.
                      </h3>
                      <div class="text-white h4">
                          The Fusion Recruit platform offers innovative recruiters the tools they need to connect and engage with the mobile-first generation, today.
                      </div>
                      <li id="scroll-to-contact" class="scroll-to-contact" style="list-style:none;"><a href="/contact" id="scroll-to-contact" class="smooth-scroll btn btn-theme">Request Demo</a></li>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4 col-md-offset-2 height-100p bounceInRight wow" data-wow-duration="1.3s" data-stellar-ratio="0.8">
                  <div class="vertical-below-middle">
                      <img src="images/iphonehand.png" class="img-responsive">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /Slider -->

<!-- Main -->
    <!-- Section: About -->
      <!-- <div class="mobile-challenges col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:-webkit-center;"> -->
        <!-- <img src="images/mobile-challenges.png" id="challenges" class="img-responsive fadeIn wow mobile-challenges-img" data-wow-duration="1s" data-wow-delay="0s"> -->
      <!-- </div> -->
    <!-- /Section: About -->

    <!-- Section: how it works -->
    <!-- Slider -->

    <!-- <img src="images/how-it-works.png" id="feature" class="features img-responsive fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0s"> -->


<img src="images/mobile-challenges.png" id="challenges" class="img-responsive fadeIn wow mobile-challenges-img" data-wow-duration="1s" data-wow-delay="0s" style="margin-left: auto;margin-right: auto;">

<div class="how-it-works" style="background: url(images/fenchurch-street.png);height:36.5em;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;">
  <!-- Slide 1 Mobile -->
  <div id="slide-1-sel-mobile" class="hidden-md hidden-lg hidden-xl how-it-works-bg hiw-slider">
    <div class="height-100p">
      <span class="col-xs-12 col-sm-12 headline text-theme center fadeIn" style="margin: 2em 0 2em 0;">HOW IT WORKS</span>
      <div class="col-xs-12 col-sm-12 fadeIn wow" style="padding: 2em;">
        <div class="text-white h4 vertical-middle" style="padding:1em;">
          <div class="p-header">
            Job Distribution
          </div>
            <img src="images/white-rect.png" class="white-rect-und">
          <div>
            With Fusion Recruit, a recruiter can post jobs to multiple sources and track which sources produce the best candidates. 
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 bounceInLeft wow" style="padding-left:0;">
        <div class="vertical-middle">
          <div class="touch-point r1-mobile"></div>
          <img src="images/how_it_works_1.png" class="slide-m-w">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 bounceInRight wow">
        <div class="vertical-middle" style="padding:0">
          <div class="text-white h4 p-header">
            Job Application
          </div>
          <img src="images/slide-2-ellipse.png" class="img-responsive slide-ellipse f1-mobile">
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Slide 2 Mobile -->
  <div id="slide-2-sel-mobile" class="how-it-works-bg hiw-slider">
    <div class="height-100p">
      <span class="col-xs-12 col-sm-12 headline text-theme center fadeIn" style="margin: 2em 0 2em 0;">HOW IT WORKS</span>
      <div class="col-xs-12 col-sm-12 fadeIn wow" >
        <div class="text-white h4 vertical-middle" style="padding: 1em 2em;margin: 3em 0 -2em 0;">
          <div class="p-header">
            Job Application
          </div>
            <img src="images/white-rect.png" class="white-rect-und">
          <div>
            Fusion Recruit’s mobile-first job application was
            designed with elements of gamification that simplifies the user experience and allows candidates to complete the application 
            quickly and easily. 
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 bounceInLeft wow" style="padding-left:0;">
        <div class="vertical-middle">
          <div class="touch-point r2-mobile"></div>
          <img src="images/how_it_works_2.png" class="slide-m-w">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 bounceInRight wow">
        <div class="vertical-middle" style="padding:0">
          <div class="text-white h4 p-header">
            Screening Process
          </div>
          <img src="images/slide-3-ellipse.png" class="img-responsive slide-ellipse f2-mobile">
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Slide 3 Mobile -->
  <div id="slide-3-sel-mobile" class="how-it-works-bg hiw-slider">
    <div class="height-100p">
      <span class="col-xs-12 col-sm-12 headline text-theme center fadeIn" style="margin: 2em 0 2em 0;">HOW IT WORKS</span>
      <div class="col-xs-12 col-sm-12 fadeIn wow" style="padding: 2em;">
        <div class="text-white h4 vertical-middle" style="padding:1em;">
          <div class="p-header">
            Screening Process
          </div>
            <img src="images/white-rect.png" class="white-rect-und">
          <div>
            It’s easy to implement custom screening questions to pre-qualify candidates and streamline your recruitment workflow. 
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 bounceInLeft wow" style="padding-left:0;">
        <div class="vertical-middle">
          <div class="touch-point r3-mobile"></div>
          <img src="images/how_it_works_3.png" class="slide-m-w">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 bounceInRight wow">
        <div class="vertical-middle" style="padding:0">
          <div class="text-white h4 p-header">
            Job Distribution
          </div>
          <img src="images/slide-1-ellipse.png" class="img-responsive slide-ellipse f3-mobile">
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Slide 1 Desktop-->
  <div id="slide-1-sel" class="hidden-sm hidden-xs how-it-works-bg hiw-slider">
    <div class="height-100p">
      <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 headline text-theme center fadeIn" style="margin: 2em 0 -3em 0;">HOW IT WORKS</span>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 height-100p bounceInLeft wow" style="padding-left:0;">
          <div class="vertical-middle">
            <div class="touch-point r1"></div>
            <img src="images/how_it_works_1.png" class="slide-m-w">
          </div>
        </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-6 height-100p fadeIn wow">
        <div class="text-white h4 vertical-middle" style="padding:1em;">
          <div class="p-header">
            Job Distribution
          </div>
            <img src="images/white-rect.png" class="white-rect-und">
          <div>
            With Fusion Recruit, a recruiter can post jobs to multiple sources and track which sources produce the best candidates. 
          </div>
        </div>
      </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 height-100p bounceInRight wow">
      <div class="vertical-middle" style="padding: 0 3em;">
        <div class="text-white h4 p-header">
          Job Application
        </div>
          <img src="images/slide-2-ellipse.png" class="img-responsive slide-ellipse f1">
        </div>
      </div>
    </div>
  </div>
  <!-- /Slide -->
  <!-- Slide 2-->
  <div id="slide-2-sel" class="how-it-works-bg hiw-slider">
    <div class="height-100p">
      <span class="col-sm-12 col-md-12 headline text-theme center fadeIn" style="margin: 2em 0 -3em 0;">HOW IT WORKS</span>
        <div class="col-sm-6 col-md-6 height-100p bounceInLeft wow" style="padding-left:0;">
          <div class="vertical-middle">
            <div class="touch-point r2"></div>
            <img src="images/how_it_works_2.png" class="slide-m-w">
          </div>
        </div>
      <div class="col-sm-4 col-md-4 height-100p fadeIn wow">
        <div class="text-white h4 vertical-middle" style="padding:1em;">
          <div class="p-header">
            Job Application
          </div>
          <img src="images/white-rect.png" class="white-rect-und">
          <div>
            Fusion Recruit’s mobile-first job application was
            designed with elements of gamification that simplifies the user experience and allows candidates to complete the application quickly and easily. 
          </div>
        </div>
      </div>
    <div class="col-sm-2 col-md-2 height-100p bounceInRight wow">
      <div class="vertical-middle" style="padding: 0 3em;">
        <div class="text-white h4 p-header">
          Screening Process
        </div>
          <img src="images/slide-3-ellipse.png" class="img-responsive slide-ellipse f2">
        </div>
      </div>
    </div>
  </div>
  <!-- /Slide -->
  <!-- Slide 3-->
  <div id="slide-3-sel" class="how-it-works-bg hiw-slider">
    <div class="height-100p">
      <span class="col-sm-12 col-md-12 headline text-theme center fadeIn" style="margin: 2em 0 -3em 0;">HOW IT WORKS</span>
        <div class="col-sm-6 col-md-6 height-100p bounceInLeft wow" style="padding-left:0;">
          <div class="vertical-middle">
            <div class="touch-point r3"></div>
            <img src="images/how_it_works_3.png" class="slide-m-w">
          </div>
        </div>
      <div class="col-sm-4 col-md-4 height-100p fadeIn wow">
        <div class="text-white h4 vertical-middle" style="padding:1em;">
          <div class="p-header">
            Screening Process
          </div>
            <img src="images/white-rect.png" class="white-rect-und">
          <div>
            It’s easy to implement custom screening questions to pre-qualify candidates and streamline your recruitment workflow. 
          </div>
        </div>
      </div>
    <div class="col-sm-2 col-md-2 height-100p bounceInRight wow">
      <div class="vertical-middle" style="padding: 0 3em;">
        <div class="text-white h4 p-header">
          Job Distribution
        </div>
          <img src="images/slide-1-ellipse.png" class="img-responsive slide-ellipse f3">
        </div>
      </div>
    </div>
  </div>
  <!-- /Slide -->
</div>
<!-- /Slider --> 
    <!-- /Section: testimonials -->
    <div class="container inner-padding">
        <div class="sub-header grey-text center">Fusion Recruit in action</div>
        <div class="headline text-theme center">CASE STUDY</div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 hidden-xs" id="no-padding">
              <img src="images/starpoint.png" class="img-responsive fadeIn wow handshake" data-wow-duration="1.3s" data-wow-delay="0s">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12" id="no-padding">
            <img src="images/starpoint-logo.png" class="img-responsive fadeIn wow starpoint-logo" data-wow-duration="1.3s" data-wow-delay="0s">
            <h4 class="article-header">Starpoint Solutions (A Yoh...)</h4>
              <p class="article-preview-text">
                Download the case study and Learn how Starpoint Solutions, a leading IT & Professional Staffing firm super-charged their mobile apply process, increased their total candidate pool, and their recruitment productivity by implementing the Fusion Recruit mobile application and screening process.
              </p>
              <a href="/files/Starpoint Case Study.pdf" class="btn btn-theme" download>View More</a>
          </div>
        </div>
    </div>
    <!-- Section: how it works -->
    <img src="images/feature_picture.png" id="feature" class="features img-responsive fadeIn wow" data-wow-duration="1.3s" data-wow-delay="0s">
    <!-- /Section: features -->

    <!-- Section: Statistics -->
    <section id="statistics" class="section" style="margin-bottom:3em;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <header class="text-center">
                      <div class="sub-header grey-text center">In live product tests, our clients enjoyed</div>
                      <div class="headline text-theme center">What are the benefits?</div>
                        <p class="section-subtitle"></p>
                    </header>
                </div>
            </div>
            <div class="row">
                <!-- Statistic Block -->
                <div class="col-sm-4 col-xs-12 stat">
                  <span class="icon zoomIn wow">
                    <span class="number animate-number h2" data-value="400" data-wow-duration="0.7s"></span>
                    <span class="percent">%</span>
                  </span>
                    <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Increase in Mobile Applications received</h4>
                </div>
                <!-- /Statistic Block -->

                <!-- Statistic Block -->
                <div class="col-sm-4 col-xs-12 stat vertical-stripes">
                  <span class="icon zoomIn wow">
                    <span class="number animate-number h2" data-value="80" data-wow-duration="0.7s"></span>
                    <span class="percent">%</span>
                  </span>
                    <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Decrease in Cost per Mobile Apply</h4>
                </div>
                <!-- /Statistic Block -->

                <!-- Statistic Block -->
                <div class="col-sm-4 col-xs-12 stat">
                  <span class="icon zoomIn wow">
                    <span class="number animate-number h2" data-value="44" data-wow-duration="0.7s"></span>
                    <span class="percent">%</span>
                  </span>
                    <h4 class="title bounceInUp wow" data-wow-duration="0.7s">Decrease in Total Cost per Apply</h4>
                </div>
                <!-- /Statistic Block -->
            </div>

        </div>
    </section>
    <!-- /Section: Statistics -->

    <div class="demo-section">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-xl-6 col-lg-6 col-md-6 hidden-sm hidden-xs" id="no-padding">
            <img src="images/macbook-and-phone.png" id="about" class="img-responsive fadeIn wow mac-and-phone" data-wow-duration="1.3s" data-wow-delay="0s">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id="no-padding">
          <div class="col-sm-6 col-xs-12">
            <h4 class="demo-header">Want to learn more about Fusion Recruit?</h4>
            <p class="text-white">
              Find out how Fusion Recruit can supercharge your <br> mobile candidate engagement efforts! 
            </p>
            <a href="/contact" class="btn btn-theme">Schedule Demo</a>
          </div>
          <div class="col-sm-6">
            <img src="images/macbook-and-phone.png" id="about" class="img-responsive fadeIn wow mac-and-phone hidden-xl hidden-lg hidden-md hidden-xs" data-wow-duration="1.3s" data-wow-delay="0s">
          </div>
        </div>
      </div>
    </div>

    <div class="container endorsements-inner-padding">
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 logo-containers" id="no-padding">
          <img src="images/fatj-wide-logo.png" id="about" class="img-responsive fadeIn wow logo-endorsements fatj-end" data-wow-duration="1.3s" data-wow-delay="0s">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 logo-containers" id="no-padding">
          <img src="images/zip-logo.png" id="about" class="img-responsive fadeIn wow logo-endorsements zip-end" data-wow-duration="1.3s" data-wow-delay="0s">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 logo-containers" id="no-padding">
          <img src="images/indeed-logo.png" id="about" class="img-responsive fadeIn wow logo-endorsements indeed-end" data-wow-duration="1.3s" data-wow-delay="0s">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 logo-containers" id="no-padding">
          <img src="images/dice-logo.png" id="about" class="img-responsive fadeIn wow logo-endorsements dice-end" data-wow-duration="1.3s" data-wow-delay="0s">
      </div>
    </div>


<!-- /Main -->

<!-- Footer -->
<!-- Footer Starts -->
<div class="footer text-center spacer">
    <div class="row footer-top-row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <img src="images/fusionrl-white.png" class="logo-footer">
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 center">
        <ul class="nav navbar-nav">
            <li class="scroll-to-home" onclick="$.scrollWindow(300);"><a href="#">Home</a></li>
            <li id="scroll-to-about" class="scroll-to-challenges" onclick="$.scrollWindow(732);"><a href="#">Mobile Challenges</a></li>
            <li class="scroll-to-features" onclick="$.scrollWindow(1617);"><a href="#">How It Works</a></li>
            <li style="text-decoration:none;"><a href="/contact">Contact</a></li>
            <li style="text-decoration:none;"><a href="https://recruit.fusion-recruit.com/3/job_descriptions">Careers</a></li>
        </ul>
      </div>
    </div>
    <!-- Feedback -->
    <div class="row spacer" style="margin:0;">
      <div class="col-md-12 footer-bot-row">
          <div class="col-md-6">
            <p class="copyright"> © 2018 All rights reserved. Fusion Recruiting Labs, Inc.</p>
          </div>
          <div class="col-md-6">
          </div>
          <a href="/privacy">PRIVACY POLICY</a>
          <a href="/terms">TERMS AND CONDITIONS</a>
      </div>
    </div>
</div>
<!-- /Footer -->

<!-- Scroll To Top -->
<div id="scroll-to-top" class="scroll-to-top">
    <i class="icon fa fa-angle-up"></i>
</div>
<!-- /Scroll To Top -->


<!-- SCRIPTS -->
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/general.js"></script>
<!-- /SCRIPTS -->
<script type="text/javascript">
// makes sure all slider scripts run properly by starting at top of screen
  window.onbeforeunload = function(){ 
    $("#preloader").css('display','flex');
    $("#preloader").css('background','rgb(255, 255, 255)');
    window.scrollTo(0,0);
  }
  $('#slide-2-sel').hide();
  $('#slide-3-sel').hide();
  $('.f1').click(function(){
    $('#slide-1-sel').fadeOut(800);
    $('#slide-2-sel').delay(1000).fadeIn()
  });
  $('.f2').click(function(){
    $('#slide-2-sel').fadeOut(800);
    $('#slide-3-sel').delay(1000).fadeIn()
  });
  $('.f3').click(function(){
    $('#slide-3-sel').fadeOut(800);
    $('#slide-1-sel').delay(1000).fadeIn()
  });
  $('.r1').click(function(){
    $('#slide-1-sel').fadeOut(800);
    $('#slide-3-sel').delay(1000).fadeIn()
  });
  $('.r2').click(function(){
    $('#slide-2-sel').fadeOut(800);
    $('#slide-1-sel').delay(1000).fadeIn()
  });
  $('.r3').click(function(){
    $('#slide-3-sel').fadeOut(800);
    $('#slide-2-sel').delay(1000).fadeIn()
  });

  $('#slide-2-sel-mobile').hide();
  $('#slide-3-sel-mobile').hide();
  $('.f1-mobile').click(function(){
    $('#slide-1-sel-mobile').fadeOut(800);
    $('#slide-2-sel-mobile').delay(1000).fadeIn()
  });
  $('.f2-mobile').click(function(){
    $('#slide-2-sel-mobile').fadeOut(800);
    $('#slide-3-sel-mobile').delay(1000).fadeIn()
  });
  $('.f3-mobile').click(function(){
    $('#slide-3-sel-mobile').fadeOut(800);
    $('#slide-1-sel-mobile').delay(1000).fadeIn()
  });
  $('.r1-mobile').click(function(){
    $('#slide-1-sel-mobile').fadeOut(800);
    $('#slide-3-sel-mobile').delay(1000).fadeIn()
  });
  $('.r2-mobile').click(function(){
    $('#slide-2-sel-mobile').fadeOut(800);
    $('#slide-1-sel-mobile').delay(1000).fadeIn()
  });
  $('.r3-mobile').click(function(){
    $('#slide-3-sel-mobile').fadeOut(800);
    $('#slide-2-sel-mobile').delay(1000).fadeIn()
  });
</script>

</body>
</html>
