<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>Fusion Recruiting Labs, Inc.</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet'>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73541965-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
<!-- End Google Tag Manager -->

<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header -->
<header id="home" class="header">
    <!-- Navigation -->
    <div class="background-wrapper">
        <img src="images/home-background.png" class="contact-header-background">
    </div>
    <nav id="navigation" class="navbar" ><!-- class"affix" makes an element stay on the screen, in this case the header-->

        <!-- Company Information -->
        <div class="information hidden-sm hidden-xs bottom-border-fade">
            <div class="container">
                <div class="row">

                    <!-- Feedback -->
                    <div class="col-md-4">
                    </div>
                    <!-- /Feedback -->

                    <!-- Social -->
                    <div class="col-md-8">
                        <a href="https://maps.google.com/maps?q=280+NJ-35+%23302,+Red+Bank,+NJ+07701" class="iframe-popup"><span class="icon icon_pin_alt"></span> 280 Highway 35 South, Suite 302, Red Bank, NJ 07701</a>
                        <a href="mailto:support@fusionrl.com"  target="_top"><span class="icon icon_mail_alt"></span> support@fusionrl.com</a>
                        <a href="tel:844-205-2555"><span class="icon icon_phone"></span>844-205-2555</a>
                    </div>
                    <!-- /Social -->

                </div>
            </div>
        </div>
        <!-- /Company Information -->

        <div class="container" style="padding: 28px;">

            <div class="row">
                <div class="col-md-12">

                    <!-- Navigation Header -->
                    <div class="navbar-header">

                        <!-- Toggle Button -->
                        <button type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#main-menu"
                                aria-expanded="false"
                                aria-controls="main-menu">

                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <!-- /Toggle Button -->

                        <!-- Brand -->
                        <a href="/" class="brand">

                            <!-- Logo Big -->
                            <img src="images/fusionrl-white.png" class="logo-big">
                            <!-- /Logo Big -->

                            <!-- Logo Small -->
                            <img src="images/fusionrl-white.png" class="logo-small">
                            <!-- /Logo Small -->

                        </a>
                        <!-- /Brand -->

                    </div>
                    <!-- /Navigation Header -->

                    <!-- Navigation -->
                    <div id="main-menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li id="scroll-to-home" class="scroll-to-home"><a href="/">Home</a></li>
                            <li id="scroll-to-contact" class="scroll-to-contact" style="text-decoration:none;"><a href="/contact">Contact</a></li>
                            <li id="scroll-to-contact" style="text-decoration:none;"><a href="https://recruit.fusion-recruit.com/3/job_descriptions">Careers</a></li>
                        </ul>
                    </div>
                    <!-- /Navigation -->

                </div>
            </div>

        </div>
    </nav>
    <!-- /Navigation -->

</header>
<div class="container row-top-spacer row-bottom-spacer" style="margin-top:48rem;">

LAST UPDATED: April 10, 2019<br><br>

Fusion Recruiting Labs, Inc. (“Fusion Recruiting Labs”, “we” or “Us”) values your privacy.  In this Privacy Policy (“Policy”), we describe how we collect, use, and disclose information that we obtain about visitors to our website  (the “Website” or “Site”) and the services available through our Site (collectively, the “Services”), and how we use and disclose that information. We refer to job applicants using this Website as “Job Applicants” and companies posting jobs on this Website as “Company” or “Companies”, with the jobs being referred to as “Company Postings”.
By visiting the Site, or using any of our Services, you agree that your personal information will be handled as described in this Policy. Your use of our Site or Services, and any dispute over privacy, is subject to this Policy and our Terms of Service which may be found at https://www.fusion-recruit.com/terms, including its applicable limitations on damages and the resolution of disputes. The Terms of Service by Fusion Recruiting Labs for are incorporated by reference into this Policy.
<br><br>What Information Do We Collect About You and Why?<br>
We may collect information about you directly from you and from third parties, as well as automatically through your use of our Site or Services.
Information We Collect Directly From Companies. Certain areas and features of our Site and Services require registration to post job applications. To register you must provide the number of jobs being hired for, the job titles, and job descriptions.
Information We Collect Directly From Job Applicants. We collect the following information directly from Job Applicants: first and last name, phone number (including mobile number), email address, street address, educational background, certifications, job experience, resume (in some cases), geolocation, the jobs you click on or apply to, where those jobs are located, answers to screening questions and Company specific application data.
Information We Collect Automatically When you visit our Site. We may automatically collect the following information about your use of our Site or Services through cookies, web beacons, and other technologies: your domain name; your browser type and operating system; links you click; your IP address; the length of time you visit our Site and or use our Services; and the referring URL, or the webpage that led you to our Site, and the following: access time, operating system, type of device, MAC address, browser type, device ID, domain name, IP address, tracking tags on our confirmation page. Our analytics platform will be monitoring how job candidates fill out the job application so we can optimize the layout of the job application, page views and referring URL.  We may combine this information with other information that we have collected about you, including, where applicable, name, and other personal information. Please see the section “Cookies and Other Tracking Mechanisms” below for more information.
<br><br>
How We Use Your Information<br>
We use your information, including your personal information, for the following purposes:<br>
To provide our Services to you, to communicate with you about your use of our Services, to respond to your inquiries, and for other customer service purposes.
To tailor the content and information that we may send or display to you, to offer location customization, and personalized help and instructions, and to otherwise personalize your experiences while using the Site or our Services.
For marketing and promotional purposes. For example, we may use your information, such as your email address, to send you news and newsletters, new job postings in your area, special offers, and promotions, or to otherwise contact you about products or information we think may interest you. We also may use the information that we learn about you to assist us in advertising our Services on third party websites.
To better understand how users access and use our Site and Services, both on an aggregated and individualized basis, in order to improve our Site and Services and respond to user desires and preferences, and for other research and analytical purposes.
We collect their email address so Job Applicants may pause their application and resume filling it out at a later date. We will email them a link continue their application.
<br><br>
European data protection law requires organizations like us to provide a lawful basis to collect and use your information. Our lawful basis to collect and use information from our EEA users include when:
We need it in order to provide you with the services and to carry out the core activities related to our provision of the services.
We have legitimate interests which will include where we send you marketing about our products and services, where we believe you have a reasonable expectation that we will perform a particular type of processing on your behalf, or where such processing is strictly necessary for fraud detection and prevention. We will only rely on such a ground where an assessment has been performed balancing the interests and rights involved and the necessity of the processing in order to provide our services, products and features to you.
We need to comply with a legal obligation.
We have a legitimate interest (which is not overridden by your data protection interests), such as for research and development, to market and promote the services and to protect our legal rights and interests.
You give us your consent to do so for a specific purpose.
Where we store your informationPersonal information held by Fusion Recruiting Labs is stored on and processed on computers situated in the United Kingdom, the EEA, the United States, and in other jurisdictions. We and/or our service providers also process data in some other countries for customer care, account management and service provisioning.
If you are an EEA resident, your personal data held by Us may be transferred to, and stored at, destinations outside the EEA that may not be subject to equivalent data protection laws, including the United States. When you sign up for service with Fusion Recruiting Labs or inquire about our services, we transfer your information to the United States and other countries as necessary to perform our agreement with you or to respond to an inquiry you make. It may also be processed by staff situated outside the EEA who work for us or for one of our suppliers.
<br><br>
Accordingly, by using our services, you authorize the transfer of your information to the United States, where we are based, and to other locations where we and/or our service providers operate, and to its (and their) storage and use as specified in this Privacy Policy and any applicable terms of service or other agreement between you and Us. In some cases, We may seek specific consent for the use or transfer of your information overseas at the time of collection. If you do not consent, we may be unable to provide you with the services you requested. The United States and other countries where we operate may not have protections for personal information equivalent to those in your home country.
Where your information is transferred outside the EEA, we will take all steps reasonably necessary to ensure that your data is subject to appropriate safeguards, such as relying on a recognized legal adequacy mechanism, and that it is treated securely and in accordance with this Privacy Policy.
International transfers to third parties. Some of the third parties described in this Privacy Policy, which provide services to us under contract, are based in other countries that may not have equivalent privacy and data protection laws to the country in which you reside. When we share information of users in the EEA or Switzerland with such third parties, we shall make use of legally-recognized data transfer mechanisms, which may include the EU-U.S. and Swiss-U.S. Privacy Shield Frameworks, the European Commission’s standard contractual clauses, binding corporate rules for transfers to data processors, or other appropriate legal mechanisms to safeguard the transfer.
<br><br>How We Share Your Information<br>
We may share your information, including personal information, as follows:<br>
Fusion Recruiting Labs. We may store your name, email address, and any information that you post to our Site.
Affiliates. We may disclose the information we collect from you to our affiliates or subsidiaries, however, if we do so, their use and disclosure of your personally identifiable information will be subject to this Policy. 
Companies. We disclose Job Applicants’ information to Companies for the purpose of being considered for Job Postings.
Service Providers. We may disclose the information we collect from you to third party vendors, service providers, contractors or agents who perform functions on our behalf. This may include third-party cloud service providers that provide hosting, data storage and other services pursuant to standard terms and conditions that may be nonnegotiable; these service providers have informed us or the general public that they apply security measures they consider adequate for the protection of information within their system, or they have a general reputation for applying such measures. However, Fusion Recruiting Labs will not be liable (to the fullest extent permitted by law) for any damages that may result from the misuse of any information, including Personal Data, by these companies.
Business Transfers. If we are acquired by or merged with another company, if substantially all of our assets are transferred to another company, or as part of a bankruptcy proceeding, we may transfer the information we have collected from you to the other company.
In Response to Legal Process. We also may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, or other legal process, such as in response to a court order or a subpoena.
To Protect Us and Others. We also may disclose the information we collect from you where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our Terms of Use or this Policy, or as evidence in litigation in which Company is involved.
Aggregate and De-Identified Information. We may share aggregate or de-identified information about users with third parties for marketing, advertising, research or similar purposes.
Our Use of Cookies and Other Tracking Mechanisms <br>
We and our third party service providers use cookies and other tracking mechanisms to track information about your use of our Site or Services. We may combine this information with other personal information we collect from you (and our third party service providers may do so on our behalf). 
Currently, our systems do not recognize browser “do-not-track” requests. You may, however, disable certain tracking as discussed in this section (e.g., by disabling cookies); you also may opt-out of targeted advertising by following the instructions in the Third Party Ad Network section.
Cookies.  Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive through your web browser for record-keeping purposes. Some cookies allow us to make it easier for you to navigate our Site and Services, while others are used to enable a faster log-in process or to allow us to track your activities at our Site and Service. There are two types of cookies: session and persistent cookies.
Session Cookies. Session cookies exist only during an online session. They disappear from your computer when you close your browser or turn off your computer. We use session cookies to allow our systems to uniquely identify you during a session or while you are logged into the Site. This allows us to process your online transactions and requests and verify your identity, after you have logged in, as you move through our Site.
Persistent Cookies. Persistent cookies remain on your computer after you have closed your browser or turned off your computer. We use persistent cookies to track aggregate and statistical information about user activity.
Disabling Cookies. Most web browsers automatically accept cookies, but if you prefer, you can edit your browser options to block them in the future. The Help portion of the toolbar on most browsers will tell you how to prevent your computer from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Visitors to our Site who disable cookies will be able to browse certain areas of the Site, but some features may not function.
Third Party Analytics. We use automated devices and applications, such as Google Analytics, to evaluate usage of our Site and, to the extent permitted, our Application. We also may use other analytic means to evaluate our Services. We use these tools to help us improve our Services, performance and user experiences. These entities may use cookies and other tracking technologies to perform their services. We do not share your personal information with these third parties. 
Third-Party Links. Our Site and Services may contain links to third-party websites. Any access to and use of such linked websites is not governed by this Policy, but instead is governed by the privacy policies of those third party websites. We are not responsible for the information practices of such third party websites.
Security of My Personal Information We have implemented commercially reasonable precautions to protect the information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and destruction. Please be aware that despite our best efforts, no data security measures can guarantee 100% security. By using our Service, You acknowledge that You understand and agree to assume these risks.
<br><br>What Choices Do I Have Regarding Use of My Personal Information?<br>
Your choices. Consistent with applicable laws and data security requirements, we will reasonably honor written requests from you to access or amend your information, such as name, address, and billing information. You are responsible for ensuring that the information on file with Fusion is current and accurate. You may access and update your information by logging into your account or contacting us as described in this Privacy Policy. Where permitted by law, we may charge a reasonable fee to process requests for access to data and may limit the number of requests per year. Your right to amend your information is subject to our records retention policies.
We may send periodic promotional or informational emails to you, including a notification if you have not completed your application. You may opt-out of such communications by following the opt-out instructions contained in the e-mail. Please note that it may take up to ten (10) business days for us to process opt-out requests. If you opt-out of receiving emails about recommendations or other information we think may interest you, we may still send you e-mails about any Services you have requested or received from us.
<br><br>Children Under 13<br>
Our Services are not designed for children under 13. If we discover that a child under 13 has provided us with personal information, we will delete such information from our systems. If you believe that a minor has disclosed personal data to Fusion, please contact us at support@fusionsrl.co
<br><br>Special Information for California Consumers<br>
California's “Shine the Light” law, Civil Code section 1798.83, requires certain businesses to respond to requests from California consumers asking about the businesses' practices related to disclosing personal information to third parties for the third parties' direct marketing purposes. Alternately, such businesses may have in place a policy, as we do, only to disclose personal information of consumers to third parties for the third parties' direct marketing purposes if the consumer has opted into such information sharing.
<br><br>Contact Us<br>
If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact us at:
280 Highway 35 South<br>
Ste. 302<br>
Red Bank, NJ 07701<br>
USA<br>
Email: support@fusionrl.co.<br><br>
Changes to this Policy<br>
Fusion may change how we collect and then use Personal Information at any time and without prior notice, at our sole discretion. Fusion may change this Privacy Policy at any time. If material changes are made to the Privacy Policy, Fusion will notify You either by posting the changed Privacy Policy on the Website or by sending an email to You. The “Last Updated” date will also be updated at the top of this Privacy Policy. 
It’s important that You review the changed Privacy Policy. If You do not wish to agree to the changed Privacy Policy, then we will not be able to continue providing access to the Websites and/or Services to You, and Your only option will be to stop accessing the Website and Services.
</div>

<!-- Footer -->
<!-- Footer Starts -->
<div class="footer text-center spacer">
    <div class="row footer-top-row" style="margin:0;">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <img src="images/fusionrl-white.png" class="logo-footer">
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 center">
        <ul class="nav navbar-nav">
            <li class="scroll-to-home" onclick="$.scrollWindow(300);"><a href="#">Home</a></li>
            <li id="scroll-to-about" class="scroll-to-challenges" onclick="$.scrollWindow(732);"><a href="#">Mobile Challenges</a></li>
            <li class="scroll-to-features" onclick="$.scrollWindow(1617);"><a href="#">How It Works</a></li>
            <li class="scroll-to-contact" style="text-decoration:none;"  onclick="$.scrollWindow(2900);"><a href="#">Contact</a></li>
            <li style="text-decoration:none;"><a href="https://recruit.fusion-recruit.com/3/job_descriptions">Careers</a></li>
        </ul>
      </div>
    </div>
    <!-- Feedback -->
    <div class="row spacer" style="margin:0;">
      <div class="col-md-12 footer-bot-row">
          <div class="col-md-6">
            <p class="copyright"> © 2019 All rights reserved. Fusion Recruiting Labs, Inc.</p>
          </div>
          <div class="col-md-6">
          </div>
          <a href="/privacy">PRIVACY POLICY</a>
          <a href="/terms">TERMS AND CONDITIONS</a>
      </div>
    </div>
</div>
<!-- /Footer -->
<!-- /Scroll To Top -->

<!-- SCRIPTS -->
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/general.js"></script>
<!-- /SCRIPTS -->


</body>
</html>