<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page title -->
    <title>Fusion Recruiting Labs, Inc.</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Style -->
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet'>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73541965-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body>
<!-- End Google Tag Manager -->

<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header -->
<header id="home" class="header">
    <!-- Navigation -->
    <div class="background-wrapper">
        <img src="images/home-background.png" class="contact-header-background">
    </div>
    <nav id="navigation" class="navbar" ><!-- class"affix" makes an element stay on the screen, in this case the header-->

        <!-- Company Information -->
        <div class="information hidden-sm hidden-xs bottom-border-fade">
            <div class="container">
                <div class="row">

                    <!-- Feedback -->
                    <div class="col-md-4">
                    </div>
                    <!-- /Feedback -->

                    <!-- Social -->
                    <div class="col-md-8">
                        <a href="https://maps.google.com/maps?q=280+NJ-35+%23302,+Red+Bank,+NJ+07701" class="iframe-popup"><span class="icon icon_pin_alt"></span> 280 Highway 35 South, Suite 302, Red Bank, NJ 07701</a>
                        <a href="mailto:support@fusionrl.com"  target="_top"><span class="icon icon_mail_alt"></span> support@fusionrl.com</a>
                        <a href="tel:844-205-2555"><span class="icon icon_phone"></span>844-205-2555</a>
                    </div>
                    <!-- /Social -->

                </div>
            </div>
        </div>
        <!-- /Company Information -->

        <div class="container" style="padding: 28px;">

            <div class="row">
                <div class="col-md-12">

                    <!-- Navigation Header -->
                    <div class="navbar-header">

                        <!-- Toggle Button -->
                        <button type="button"
                                class="navbar-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#main-menu"
                                aria-expanded="false"
                                aria-controls="main-menu">

                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>

                        </button>
                        <!-- /Toggle Button -->

                        <!-- Brand -->
                        <a href="/" class="brand">

                            <!-- Logo Big -->
                            <img src="images/fusionrl-white.png" class="logo-big">
                            <!-- /Logo Big -->

                            <!-- Logo Small -->
                            <img src="images/fusionrl-white.png" class="logo-small">
                            <!-- /Logo Small -->

                        </a>
                        <!-- /Brand -->

                    </div>
                    <!-- /Navigation Header -->

                    <!-- Navigation -->
                    <div id="main-menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li id="scroll-to-home" class="scroll-to-home"><a href="/">Home</a></li>
                            <li id="scroll-to-contact" class="scroll-to-contact" style="text-decoration:none;"><a href="#">Contact</a></li>
                            <li id="scroll-to-contact" style="text-decoration:none;"><a href="https://recruit.fusion-recruit.com/3/job_descriptions">Careers</a></li>
                        </ul>
                    </div>
                    <!-- /Navigation -->

                </div>
            </div>

        </div>
    </nav>
    <!-- /Navigation -->

</header>

<div class="container"><strong><p>PRIVILEGED &amp; CONFIDENTIAL</p><p>FUSION RECRUITING LABS, INC.</p><p>FindaTruckerJob.com&nbsp;</p><p>PRIVACY POLICY</p></strong><p>Effective Date: August 21, 2015</p><p>Fusion Recruiting Labs, Inc., the parent company of FindaTruckerJob.com (“Fusion”, “we”, “us”, or “our”) recognizes t
]]>
<![CDATA[
he importance of privacy. In this Privacy Policy, we describe how we collect, use, and disclose information that we obtain about visitors to our website,<span>&nbsp;</span><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.findatruckerjob.com&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEJWfb_-YUy-aOWCyegYx
]]>
<![CDATA[
1M-BPYKA">findatruckerjob.com</a> (the “Site”), and the services available through our Site (collectively, the “Services”).</p><p>By visiting the Site or using any of our Services, you agree that your personal information will be handled as described in this Privacy Policy. Your use of our Site or Services, and any dispute over privacy, is subject to this Privacy Policy and our<span>&nbsp;</span><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.findatruckerjob.com%2FTerms.aspx&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFoMABXaVyQCrFrOGkTcfef26_jUA">Terms of Service</a>, including its applicable limitations on damages and the resolution of disputes. Our<span>&nbsp;</span><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.findatruckerjob.com%2FTerms.aspx&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFoMABXaVyQCrFrOGkTcfef26_jUA">Terms of Service</a> are incorporated by reference into this Privacy Policy.</p><p>Information We Collect</p><p>How We Use Your Information</p><p>How We Disclose Your Information</p><p>Cookies and Other Tracking Mechanisms</p><p>Targeted Advertising</p><p>Third-Party Links</p><p>Security</p><p>Your Choices</p><p>Children</p><p>Special Information for California Consumers</p><p>Contact Us</p><p>Changes to this Privacy Policy&nbsp;</p><h1>Information We Collect</h1><p>We collect information about you directly from you, automatically through your use of our Site or Services, and from third parties (e.g., social media platforms). We may combine information automatically collected with other information that we have collected about you.</p><ul><li>Information We Collect Directly From You. We may collect certain information from you depending on your interaction with our Site and Services. If you are a trucker, we may collect information such as your name, email address, address, phone number, company, title, type of driver’s license, driving history (including any driving under the influence (DUI) violations), age, military status, and endorsements held (e.g., hazmat). If you are an employer, we may collect information such as your name, email address, phone number, and company. We will also collect any information that any visitor to our Site otherwise provides to us, such as your phone number, contact information, and any comments/questions made to us, if you contact us through our Site.</li><li>Information We Collect Automatically. We automatically collect information such as the following about your use of our Site or Services through cookies and other technologies: domain name; browser type; operating system type; pages or screens you view; links you click; IP address; when and the length of time you visit or use our Services; and the referring URL, or the webpage that led you to our Site.</li></ul><h1>How We Use Your Information</h1><p>We may use your information, including personal information, for the following purposes:</p><ul><li>Providing Our Services. To provide our Services to you; to communicate with you, including via email, about your use of our Services; to respond to your inquires; and for other customer service purposes.</li><li>Marketing. To provide you with news and newsletters, special offers, and promotions; to contact you about products or information we think may interest you; and for other marketing, advertising, and promotional purposes.</li><li>Analyzing Use of Our Services. To better understand how users access and use our Site and Services, both on an aggregated and individualized basis; to respond to user desires and preferences; and for other research and analytical purposes.</li><li>To Protect Rights and Interests. To protect our rights and interests as well as the rights and interests of our customers, users of our Site or Services, and any other person, as well as to enforce this Privacy Policy and our<span>&nbsp;</span><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.findatruckerjob.com%2FTerms.aspx&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFoMABXaVyQCrFrOGkTcfef26_jUA">Terms of Service</a>.</li><li>Complying with the Law. To comply with applicable legal obligations.</li></ul><h1>How We Disclose Your Information</h1><p>We may disclose your information that we collect about you, including personal information, with the following entities:</p><ul><li>Affiliates. We may disclose your information to affiliates or subsidiaries for research, marketing, and other purposes consistent with this Privacy Policy.</li><li>Service Providers. We may disclose your information to our vendors, service providers, agents, or others who perform functions on our behalf.</li><li>FATJ Users. We may disclose your information to other FATJ users as requested by you to do so. For example, if you are a job seeker and you apply for a job with an employer, we will share your information with that prospective employer.</li><li>Unaffiliated Third Parties. We may disclose your information to other unaffiliated third parties, including for their own marketing purposes. Please see our<span>&nbsp;</span>Special Information for California Consumers section below with regard to such disclosures.</li></ul><p>We may also disclose your information that we collect about you, including personal information, in the following ways:</p><ul><li>Business Transfers. We may disclose Information to another entity if we are acquired by or merged with another company, if we sell or transfer a business unit or assets to another company, as part of a bankruptcy proceeding, or as part of any other similar business transfer.</li><li>Legal Compliance. We may disclose Information in order to comply with the law, regulation, a judicial proceeding, subpoena, court order, or other legal process, including informal law enforcement or governmental requests for information.</li><li>Protecting Rights and Interests. We may disclose Information where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our<span>&nbsp;</span><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.findatruckerjob.com%2FTerms.aspx&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFoMABXaVyQCrFrOGkTcfef26_jUA">Terms of Service</a> or this Policy, or as evidence in litigation in which we are involved.</li><li>Aggregate and De-Identified Information. We may disclose aggregate, anonymous, or de-identified information about users for marketing, advertising, research, or other purposes.</li></ul><h1>Cookies And Other Tracking Mechanisms&nbsp;</h1><p>We and our service providers use cookies and other tracking mechanisms to track information about your use of our Site or Services. We or our service providers may combine this information with other personal information we collect about you.</p><ul><li>Do Not Track. Our Site does not respond to Do Not Track signals and we may track your activities once you leave our Site. You may disable certain tracking as discussed in this section (e.g., by disabling cookies).</li><li>Cookies. We or our service providers may use cookies to track visitor activity on our Site. A cookie is a text file that a website transfers to your computer’s hard drive for record-keeping purposes. We or our service providers may use cookies to track user activities on our Site, such as the pages visited and time spent on our Site. Most browsers allow users to refuse cookies. The Help portion of the toolbar on most browsers will tell you how to prevent your computer from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Visitors to our Site who disable cookies may not be able to browse certain areas of the Site.</li><li>Clear GIFs, pixel tags and other technologies. Clear GIFs are tiny graphics with a unique identifier, similar in function to cookies, which are embedded invisibly on web pages. &nbsp;We or our service providers may use clear GIFs (also known as web beacons, web bugs or pixel tags), in connection with our Site to track the activities of visitors to our Site, help us manage content, and compile statistics about usage of our Site. &nbsp;We or our service providers may also use clear GIFs in HTML emails to our users, to help us track email response rates, identify when our emails are viewed, and track whether our emails are forwarded.</li><li>Third-Party Analytics. We use third-party service providers, such as<span>&nbsp;</span><a href="http://www.google.com/intl/en/policies/privacy/">Google Analytics</a>, to evaluate the use of our Site and our Services. We or our service providers use automated devices and applications to evaluate use of our Site and Services. We or our service providers use these tools to help us improve our Site, Services, performance, and user experiences. These entities may use cookies and other tracking technologies, such as web beacons or Flash LSO, to perform their services.</li></ul><h1>Targeted Advertising</h1><p>We use a service provider to display advertising on our Site and to manage our advertising on other websites. This service provider may use cookies, web beacons, and other tools to collect information about your activities on this Site and other websites, including your IP address and location information, to provide you targeted advertising based upon your interests and to evaluate the success of their advertising. &nbsp;</p><p>You may opt out of receiving targeted ads from many third-party ad networks, including those operated by members of the Network Advertising Initiative (“NAI”) and the Digital Advertising Alliance (“DAA”). &nbsp;For more information regarding this practice by NAI members and DAA members, and your choices regarding having this information used by participating companies, including how to opt out of third-party ad networks operated by NAI and DAA members, please visit their respective websites:<span>&nbsp;</span><a href="http://fatj.herokuapp.com/privacy">www.networkadvertising.org/optout_nonppii.asp</a> (NAI) and<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.aboutads.info%2Fchoices&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHF9XatBICNjqnEKN6puV79-Ex5JA">www.aboutads.info/choices</a> (DAA). &nbsp;If you are in the European Union, go to<span>&nbsp;</span><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.youronlinechoices.eu&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHHy3CqQIRkF-Tgmat58Ooy6zvqCA">www.youronlinechoices.eu</a> for information about your choices with respect to third-party advertising, including instructions on how to opt out of participating ad networks. &nbsp;Please note that opting out of participating ad networks &nbsp;does not opt you out of being served advertising. &nbsp;You will continue to receive generic or "contextual" ads. You may also continue to receive targeted ads on other websites, from companies that do not participate in the above programs.</p><h1>Third-Party Links</h1><p>Our Site and Services may contain links to third-party websites. Any access to and use of such linked websites is not governed by this Privacy Policy but instead is governed by the privacy policies of those third-party websites. We are not responsible for the information practices of such third-party websites.</p><h1>Security</h1><p>We have taken steps to help protect the information we collect about you from loss, misuse, unauthorized access, disclosure, alteration, and destruction. However, no data security measures can guarantee 100% security. You should take steps to protect against unauthorized access to your account by, among other things, choosing a robust password that nobody else knows or can easily guess and keeping your log-in and password private. We are not responsible for any lost, stolen, or compromised passwords or for any activity on your account via unauthorized password activity.</p><h1>Your Choices</h1><p>You may modify the information that you have submitted by logging into your account or emailing us at<span>&nbsp;</span><a href="mailto:support@FATJ.com">support@FATJ.com</a>. &nbsp;</p><p>We may send periodic promotional or informational emails to you. You may opt out of such communications by following the opt-out instructions contained in the email. Please note that it may take up to ten (10) business days for us to process opt-out requests. If you opt out of receiving emails about recommendations or other information we think may interest you, we may still send you emails about your account or any Services you have requested or received from us.</p><h1>Children</h1><p>Our Services are not designed for children under thirteen (13) years of age. If we discover that a child under 13 has provided us with personal information, we will promptly delete such information from our systems.</p><h1>Special Information For California Consumers</h1><p>California residents may request a list of certain third parties to which we have disclosed personally identifiable information about you for their own direct marketing purposes. You may make one request per calendar year. In your request, please attest to the fact that you are a California resident and provide a current California address for your response. You may request this information in writing by contacting us at:<span>&nbsp;</span><a href="mailto:support@FATJ.com">support@FATJ.com</a>. Please allow up to thirty (30) days for a response.</p><h1>Contact Us</h1><p>If you have questions about the privacy aspects of our Site or Services, please contact us at</p><p>FindaTruckerJob.com</p><p>280 Highway 35 South, Suite 302, Red Bank, NJ 07701</p><p><a href="mailto:support@FATJ.com">support@FATJ.com</a>&nbsp;</p><h1>Changes To This Privacy Policy</h1><p>This Privacy Policy is current as of the Effective Date set forth above. We may change this Privacy Policy from time to time, so please be sure to check back periodically. We will post any changes to this Privacy Policy on our Site. If we make any changes to this Privacy Policy that materially affect our practices with regard to the personal information we have previously collected from you, we will endeavor to provide you with notice in advance of such change by highlighting the change on our Site.</p>
</div>

<!-- Footer -->
<!-- Footer Starts -->
<div class="footer text-center spacer">
    <div class="row footer-top-row" style="margin:0;">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <img src="images/fusionrl-white.png" class="logo-footer">
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 center">
        <ul class="nav navbar-nav">
            <li class="scroll-to-home" onclick="$.scrollWindow(300);"><a href="#">Home</a></li>
            <li id="scroll-to-about" class="scroll-to-challenges" onclick="$.scrollWindow(732);"><a href="#">Mobile Challenges</a></li>
            <li class="scroll-to-features" onclick="$.scrollWindow(1617);"><a href="#">How It Works</a></li>
            <li class="scroll-to-contact" style="text-decoration:none;"  onclick="$.scrollWindow(2900);"><a href="#">Contact</a></li>
            <li style="text-decoration:none;"><a href="https://recruit.fusion-recruit.com/3/job_descriptions">Careers</a></li>
        </ul>
      </div>
    </div>
    <!-- Feedback -->
    <div class="row spacer" style="margin:0;">
      <div class="col-md-12 footer-bot-row">
          <div class="col-md-6">
            <p class="copyright"> © 2016 All rights reserved. Fusion Recruiting Labs, Inc.</p>
          </div>
          <div class="col-md-6">
          </div>
          <a href="/privacy">PRIVACY POLICY</a>
          <a href="/terms">TERMS AND CONDITIONS</a>
      </div>
    </div>
</div>
<!-- /Footer -->
<!-- /Scroll To Top -->

<!-- SCRIPTS -->
<script src="js/jquery-2.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/general.js"></script>
<!-- /SCRIPTS -->


</body>
</html>